 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Saisons</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         <a class="nav-link" href="{{ path('saisons', {'saison':'printemps'}) }}">Printemps</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="{{ path('saisons', {'saison':'ete'}) }}">été</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="{{ path('saisons', {'saison':'hiver'}) }}">hiver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('saisons', {'saison':'automne'}) }}">automne</a>
        </li>
      </ul>

    </div>
  </div>
</nav>